extends "base.jade"

block content
  h2 Unsorted tasks
  ul
    for task in unsorted_tasks
      li
        h3 #{ task['name'] }
        p #{ task['notes'] }
        p #{ task['time'] }
        if task['snaptime']
          time #{ task['snaptime'] }
        if task['deadline']
          time #{ task['deadline'] }
        if tags
          h4 Tags
          ul
            for tag in tags
              li #{ tag }
        else
          h4 No Tags

  h2 Sorted tasks
