extends "base.jade"

block styles
  link(rel='stylesheet', href='/static/css/list.css')

block content
  h2 Unsorted tasks
  ul
    for task in unsorted_tasks
      li.task
        h3 #{ task['name'] } - 
          small #{ task['time'] }h
        p #{ task['notes'] }
        if task['snaptime']
          time #{ task['snaptime'] }
        if task['deadline']
          time #{ task['deadline'] }
        if task['tags']
          ul
            li.tag Tags
            for tag in task['tags']
              li.tag #{ tag }
        else
          div
            div.tag.no-tag No Tags

  h2 Sorted tasks
